<body>
<h1> Hey cutie! When is your birthday? </h1>

<body>
  <form action="/birthday" method="POST">
    <label for="name">Name:</label>
    <input tyle="text" id="name" name="Name" required>
    <label for="birthday">Birthday:</label>
    <input tyle="text" id="birthday" name="user_birthday" required>
    <input type="submit" value="Submit">
  </form>
</body>